@import 'font-awesome.min.css';
.white {
  color: #ffffff;
}
.primary {
  color: #34599B;
}
.bg-prim {
  background: #34599B;
}
.bg3 {
  background: #464646;
}
/*============  Floats  =============*/
.f__left {
  float: left;
}
.f__right {
  float: right;
}
@media (max-width: 979px) {
  .f__none-979 {
    float: none;
  }
}
@media (max-width: 1199px) {
  .f__none-1199 {
    float: none;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .f__none-768 {
    float: none;
  }
}
@media (max-width: 767px) {
  .f__none-767 {
    float: none;
  }
}
@media (max-width: 479px) {
  .f__none-479 {
    float: none;
  }
}
/*============= Text ============*/
.t__center {
  text-align: center;
}
/*============= Overflow ===============*/
.o__hidden {
  overflow: hidden;
}
/*========================================================
                    Main layout styles
=========================================================*/
body {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    font-weight: 400;
    background: #ffffff;
    color: #4A4A4A;
}
p {
    font-family: Arial;
    text-align: justify;
}
p.def {
  font-family: inherit;
  line-height: 24px;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
* {
  -webkit-text-size-adjust: none;
}
img {
  max-width: 100%;
  height: auto;
}
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-weight: 300;
  color: #464646;
}
h1 {
  font-size: 65px;
  line-height: 65px;
  font-weight: 300;
}
h2 {
  font-size: 60px;
  line-height: 60px;
}
h3 {
  font-size: 40px;
  line-height: 40px;
}
@media (max-width: 479px) {
  h3 {
    font-size: 36px;
    line-height: 36px;
  }
}
h4 {
  font-size: 20px;
  line-height: 25px;
}
h4 a:hover {
  color: #34599B;
}
h4.primary a:hover {
  color: #464646;
}
h4.ls {
  letter-spacing: -1.2px;
}
h5 {
  font-size: 15px;
  line-height: 25px;
}
.lh-mod {
  line-height: 24px;
}
.company {
  display: inline-block;
  color: #464646;
}
.company_cnt {
  overflow: hidden;
  display: inline-block;
}
.company_logo {
  float: left;
}
.company_slogan {
  text-transform: uppercase;
  opacity: 0.4;
  filter: alpha(opacity=40);
  text-align: left;
  margin-left: 6px;
  font-size: 12px;
  line-height: 20px;
}
.ie8 .company_slogan {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)";
}
@media (max-width: 479px) {
  .company {
    text-align: center;
    display: block;
  }
  .company_logo {
    float: none;
  }
}
.bd-rdd {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: url("../images/border.png") repeat-x;
  height: 10px;
  z-index: 1;
}
.page {
  overflow: hidden;
}
hr {
  border: none;
  height: 1px;
  background: #f7f7f7;
  margin: 0;
}
/*========================================================
                    Main Layout
=========================================================*/
h2 + .box {
  margin-top: 52px;
}
h3 + .box,
h3 + .row,
h3 + .post,
h3 + .markered-list {
  margin-top: 40px;
}
h5 + h5 {
  margin-top: 5px;
}
h4 + p,
h5 + p {
  margin-top: 9px;
}
h4 + .off1,
.box_cnt + p {
  margin-top: 24px;
}
h4 + .off2 {
  margin-top: 17px;
}
.row + .row__mod1 {
  margin-top: 32px;
}
.box + .row__mod1 {
  margin-top: 54px;
}
p + p {
  margin-top: 16px;
}
.box + .box {
  margin-top: 33px;
}
.box + .box__off1 {
  margin-top: 37px;
}
/*========================================================
                    HEADER styles
=========================================================*/
.header {
  color: #ffffff;
}
.header .link {
  margin-top: 13px;
}
.divider {
  position: relative;
  height: 74px;
  background: url("../images/page1-img1.jpg") no-repeat;
}
.panel + .stuck {
  margin-top: 25px;
}
.stuck + * {
  margin-top: 25px;
}
/* Header Company */
.header-company {
  float: left;
}
.header-company .company_logo {
  margin-right: 36px;
    max-width: 200px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .header-company .company_logo {
    margin-right: 5px;
  }
}
@media (max-width: 479px) {
  .header-company .company_logo {
    margin-right: 0;
  }
}
.header-company .company_cnt {
  color: #464646;
}
@media (max-width: 767px) {
  .header-company {
    float: none;
  }
}
.panel {
    color: #C1C1C1;
    background-color: #464646 !important;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: 0 none !important;
}
@media (max-width: 767px) {
  .panel {
    text-align: center;
  }
}
.link-list {
  display: inline-block;
}
.link-list li {
  display: inline-block;
  margin: 0 6px;
}
@media (max-width: 767px) {
  .link-list li {
    display: block;
  }
}
.link-list a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .link-list {
    display: block;
    margin-bottom: 10px;
  }
}
#btn-login {
  position: relative;
  display: inline-block;
  min-width: 92px;
  text-align: center;
  padding: 15px 0 16px;
  font-size: 15px;
  margin-left: 87px;
  background: #34599B;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
}
#btn-login:before,
#btn-login:after {
  position: absolute;
  top: 0;
  height: 100%;
  background: #a1a194;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}
#btn-login:before {
  content: '\f090';
  right: 100%;
  width: 60px;
  text-align: center;
  font: 400 20px/55px 'FontAwesome';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#btn-login:after {
  content: '';
  right: 0;
  width: 0;
}
#btn-login:hover {
  text-decoration: none;
}
#btn-login:hover:before {
  background: #34599B;
}
#btn-login:hover:after {
  width: 100%;
}
@media (max-width: 767px) {
  .btn {
    margin-left: 40px;
  }
}
/* Banner */
.banner {
  position: relative;
  background: url("../images/page1-img4.jpg") no-repeat;
  margin-top: -237px;
  padding: 61px 0 65px 0;
}
.banner_cnt {
  float: right;
  text-align: left;
  margin-right: 110px;
}
@media (max-width: 767px) {
  .banner_cnt {
    float: none;
    text-align: center;
    margin-right: 0;
  }
}
@media (max-width: 1199px) {
  .banner {
    -webkit-background-size: cover;
    background-size: cover;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .banner {
    margin-top: -100px;
  }
}
@media (max-width: 979px) {
  .banner {
    margin-top: 20px;
  }
}
@media (max-width: 479px) {
  .banner {
    padding: 20px 0;
  }
  .banner h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
/* Main menu styles
========================================================*/
nav {
  float: right;
  margin-top: 34px;
}
@media (max-width: 767px) {
  nav {
    float: none;
  }
}
.sf-menu > li {
  position: relative;
  float: left;
  margin: 0 7px;
}
.sf-menu > li > a {
  display: inline-block;
  font-size: 13px;
  line-height: 23px;
  font-weight: 600;
  text-transform: uppercase;
  color: #464646;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sf-menu > li > a.sf-with-ul:before {
  content: '\f107';
  position: absolute;
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  bottom: -14px;
  left: 50%;
  margin-left: -6px;
  color: #464646;
}
.sf-menu > li > a:hover {
  text-decoration: none;
  color: #34599B;
}
.sf-menu > li > a:hover.sf-with-ul:before {
  color: #34599B;
}
.sf-menu > li.last {
  margin-right: 0;
}
@media (min-width: 768px) and (max-width: 979px) {
  .sf-menu > li {
    margin: 0 10px;
  }
}
.sf-menu > li.current > a,
.sf-menu > li.sfHover > a {
  color: #34599B;
}
.sf-menu > li.current > a.sf-with-ul:before,
.sf-menu > li.sfHover > a.sf-with-ul:before {
  color: #34599B;
}
.sf-menu a {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sf-menu a:hover {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
/* First level sub-menu styles
========================================================*/
.sf-menu ul {
  position: absolute;
  top: 60px;
  left: -80px;
  z-index: 4;
  width: 217px;
  padding: 20px 0;
  display: none;
  text-align: center;
  background: #34599B;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sf-menu ul li {
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
}
.sf-menu ul li a {
  display: block;
}
.sf-menu ul li a:hover {
  text-decoration: none;
  color: #fff;
}
.sf-menu ul li + li {
  margin-top: 8px;
}
.sf-menu ul li.sfHover > a {
  color: #fff;
}
.sf-menu ul:before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #34599B transparent;
}
@media (min-width: 768px) and (max-width: 979px) {
  .sf-menu ul {
    width: 140px;
    left: -43px;
  }
}
/* Second level sub-menu styles
========================================================*/
.sf-menu ul ul {
  position: absolute;
  top: -5px;
  left: 237px;
  z-index: 4;
  background: #464646;
}
.sf-menu ul ul:before {
  content: '';
  left: -10px;
  margin-left: 0;
  top: 10px;
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent #464646 transparent transparent;
}
.sf-menu ul ul a:hover {
  color: #fff;
}
@media (min-width: 768px) and (max-width: 979px) {
  .sf-menu ul ul {
    left: 160px;
  }
}
.sf-menu .fa span {
  display: none;
}
@media (max-width: 767px) {
  .sf-menu .fa {
    display: none;
  }
  .sf-menu .fa span {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .sf-menu {
    display: none;
  }
  .select-menu {
    display: block;
    clear: both;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    margin: 14px auto;
    padding: 0;
    height: 40px;
    background: #ffffff url(../images/select.png) 99% center no-repeat;
    color: #05090d;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/*============ Background ==============*/
/* Stuck menu styles
========================================================*/
.isStuck {
  background: #ffffff;
  box-shadow: 0px 0px 2px 0px #000;
  z-index: 999;
}
.ie8 .isStuck {
  border-bottom: 1px solid #000000;
}
#header .isStuck .company {
  display: none;
}
#header .isStuck nav {
  margin: 5px 0 10px;
  float: none;
  text-align: center;
}
#header .isStuck .sf-menu > li {
  float: none;
  display: inline-block;
}
@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
/*========================================================
                    CONTENT styles
=========================================================*/
.content {
  background: #ffffff;
}
.bg-content {
  background: #f2f2f2;
}
.bg-content2 {
  background: #ededed;
}
.bg-img {
  background: url("../images/page3-img1.jpg") no-repeat right 0;
}
@media (max-width: 767px) {
  .bg-img {
    background: none;
  }
}
/* Wrappers */
.wrapper1 {
  padding: 50px 0 80px;
}
.wrapper1__inset1 {
  padding-bottom: 112px;
}
@media (max-width: 767px) {
  .wrapper1 {
    padding: 50px 0;
  }
}
.wrapper2 {
  padding: 30px 0 10px;
}
.wrapper2__inset1 {
  padding-bottom: 117px;
}
@media (max-width: 767px) {
  .wrapper2 {
    padding: 50px 0;
  }
}
.mt-img {
  margin-top: 7px;
}
.box_left {
  float: left;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .box_left {
    float: none;
    margin: 0 0 20px 0;
  }
}
.box .event + h4 {
  margin-top: 28px;
}
/* Icon */
.icon {
  display: inline-block;
  width: 104px;
  height: 104px;
  line-height: 104px;
  text-align: center;
  font-size: 39.3px;
  background: #34599B;
  color: #ffffff;
  border-radius: 50%;
}
.icon:hover {
  text-decoration: none;
  background: #464646;
}
/* News Box */
.news .date {
  width: 70px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  background: #34599B;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 15px;
}
.news .date span {
  font-size: 15px;
  line-height: 20px;
}
.news .date span:first-child {
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-weight: 400;
}
.ie8 .news .date span:first-child {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}
.news .date .year {
  display: block;
  margin-top: 6px;
  text-align: center;
  background: #464646;
  padding: 6px 0 7px;
  color: #d3d5d4;
}
@media (min-width: 768px) and (max-width: 979px) {
  .news .box_left {
    float: none;
    margin: 0 0 15px 0;
  }
}
/* Search-list */
.search-list {
  margin: 42px 0 6px;
}
.search-list li {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font: 300 20px/28px 'Open Sans', sans-serif;
  padding-right: 28px;
  margin-right: 21px;
}
.search-list li:after {
  content: '';
  position: absolute;
  right: 0;
  top: 7px;
  width: 1px;
  height: 20px;
  background: #c3c2c2;
}
.search-list a:hover {
  text-decoration: none;
  color: #34599B;
}
/* Markered list */
.markered-list li {
  position: relative;
  padding-left: 28px;
  font-size: 15px;
  text-transform: uppercase;
  color: #464646;
}
.markered-list li:before {
  content: '\f054';
  position: absolute;
  left: 0;
  top: 0;
  font-family: FontAwesome;
  font-size: 13px;
  line-height: 24px;
  color: #34599B;
}
.markered-list li + li {
  margin-top: 17px;
}
.markered-list li a:hover {
  text-decoration: underline;
}
/* Event */
.event_box {
  display: inline-block;
  min-width: 119px;
  padding: 13px 5px 13px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #34599B;
}
.event_box h3 {
  text-transform: none;
  margin-top: 15px;
}
.event_box h3,
.event_box h4 {
  color: #ffffff;
}
.event_box h5 {
  color: #464646;
}
.event_box .second {
  opacity: 0.5;
  filter: alpha(opacity=50);
  color: #ffffff;
}
.ie8 .event_box .second {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}
@media (max-width: 767px) {
  .event1,
  .event2 {
    background-position: 119px 0!important;
  }
}
.event1 {
  background: url("../images/page1-img7.jpg") no-repeat right;
}
.event2 {
  background: url("../images/page1-img8.jpg") no-repeat right;
}
/* Button */
.btn2 {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  text-transform: uppercase;
  background: #34599B;
  color: #ffffff;
}
.btn2:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #464646;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}
.btn2:hover {
  text-decoration: none;
}
.btn2:hover:before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.btn2_sm {
  min-width: 122px;
  font-size: 15px;
  padding: 13px 0 14px;
}
.btn2_md {
  min-width: 191px;
  font-size: 18px;
  padding: 18px 0;
}
/* Book list */
.book-list li {
  position: relative;
  font-size: 20px;
  letter-spacing: -1px;
  border-bottom: 1px solid #bab9b9;
  color: #464646;
  padding: 0 20px 8px 0;
}
.book-list li a {
  position: absolute;
  right: 0;
  top: 1px;
  font-size: 20px;
  line-height: 23px;
}
.book-list li a:hover {
  text-decoration: none;
  color: #34599B;
}
.book-list li + li {
  margin-top: 10px;
}
/* Quote */
.quote {
  text-align: right;
  margin-top: 34px;
}
.quote p:first-child {
  background: url("../images/quote.png") no-repeat 0 5px;
}
.quote p {
  font-style: italic;
  padding-left: 20px;
  text-align: left;
}
.quote h4 {
  margin-top: 6px;
  letter-spacing: -1px;
}
.quote h4,
.quote h5 {
  font-weight: 400;
}
/* address */
address .addr {
  font: 300 20px/25px 'Open Sans', sans-serif;
}
address p + dl {
  margin-top: 16px;
}
address dl {
  font: 400 14px/24px 'Arial', sans-serif;
}
address a {
  text-decoration: underline;
}
address a:hover {
  color: #464646;
}
dd,
dt {
  display: inline-block;
}
dt {
  padding-right: 4px;
}
/* Post */
.post .meta {
  text-transform: uppercase;
  font-size: 14px;
  color: #464646;
  margin: 11px 0 13px;
}
.post .meta .date {
  float: left;
}
.post .meta .comm {
  margin: 0;
  float: right;
}
.post .meta a:hover {
  text-decoration: underline;
}
.post .meta:before,
.post .meta:after {
  content: " ";
  display: table;
}
.post .meta:after {
  clear: both;
}
.post p + .btn2 {
  margin-top: 20px;
}
.post p {
  line-height: 24px;
}
.post + .post.box {
  margin-top: 55px;
}
.policy-link {
  margin-top: 27px;
  font-family: 'Arial';
}
.policy-link a {
  text-decoration: underline;
}
.policy-link a:hover {
  color: #464646;
}
.map {
  height: 346px;
  position: relative;
  margin: 16px 0 23px;
}
@media (max-width: 767px) {
  .map {
    height: 250px;
  }
}
.google-map-api {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#map-canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#map-canvas img {
  max-width: none !important;
}
/*========================================================
                    FOOTER styles
=========================================================*/
.footer {
  text-align: center;
}
/* Social list */
.social-list {
  margin-top: 34px;
}
.social-list li {
  display: inline-block;
  text-align: center;
  margin: 0 8px;
}
.social-list li a {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #ffffff;
  border-radius: 50%;
  font-size: 44px;
  background: #464646;
  z-index: 1;
}
.social-list li a:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  background: #34599B;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.social-list li a:hover {
  text-decoration: none;
}
.social-list li a:hover:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ie8 .social-list li a:hover {
  background: #34599B;
}
@media (max-width: 479px) {
  .social-list li {
    display: block;
  }
  .social-list li + li {
    margin-top: 10px;
  }
}
/* Footer Company */
.footer-company {
  text-align: center;
  margin-top: 87px;
}
.footer-company .company_logo {
  margin-right: 36px;
}
.footer-company .company_name {
  text-align: left;
  color: #ffffff;
}
.footer-company .company_slogan {
  color: #ffffff;
}
@media (max-width: 479px) {
  .footer-company {
    margin-top: 30px;
  }
  .footer-company .company_logo {
    margin-right: 0px;
  }
  .footer-company .company_name {
    text-align: center;
  }
}
.copyright {
    margin-top: 30px;
    font: 300 14px/24px 'Open Sans', sans-serif;
    color: #FDFDFD;
    text-align: center;
}
.copyright span:first-child {
  text-transform: uppercase;
}
.copyright a:hover {
  text-decoration: underline;
}
/*========================================================
                    Widget styles
=========================================================*/
/* Stellar(parallaxBG) styles
========================================================*/
.stellar {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
@media (max-width: 767px) {
  .stellar {
    background-attachment: inherit!important;
    background-position: 0 0 !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.stellar1,
.stellar3,
.stellar4 {
  position: relative;
  background-image: url(../images/page1-img9.jpg);
  background-position: center 0%;
  padding: 50px 0 50px;
}
.stellar1 h2,
.stellar3 h2,
.stellar4 h2 {
  color: #ffffff;
}
.stellar1 h2 + h2,
.stellar3 h2 + h2,
.stellar4 h2 + h2 {
  margin-top: 8px;
  color: #34599B;
}
.stellar1 .icon,
.stellar3 .icon,
.stellar4 .icon {
  margin-top: 10px;
}
@media (max-width: 979px) {
  .stellar1,
  .stellar3,
  .stellar4 {
    background-position: 0 0 !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .stellar1 h2,
  .stellar3 h2,
  .stellar4 h2 {
    font-size: 50px;
    line-height: 50px;
  }
}
.stellar2 {
  position: relative;
  background-image: url(../images/footer-bg.jpg);
  background-position: center 0%;
  padding: 30px 0 40px;
}
.stellar3,
.stellar4 {
  background-image: url(../images/page2-img1.jpg);
  padding: 112px 0 111px;
}
.stellar3 h2 + h2,
.stellar4 h2 + h2 {
  margin-top: 0;
}
@media (max-width: 767px) {
  .stellar3 h2,
  .stellar4 h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
.stellar4 {
  background-image: url(../images/page3-img1.jpg);
}
/* UItoTop styles
========================================================*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 80px;
  right: 30px;
  overflow: hidden;
  font-size: 26px;
  z-index: 20;
  width: 51px;
  height: 51px;
  line-height: 46px;
  text-align: center;
  border-radius: 50%;
  background: #34599B;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#toTop:hover {
  background: #464646;
}
@media only screen and (max-width: 1199px) {
  #toTop {
    display: none !important;
  }
}

/* OVERRIDE */
#btn-login {
    position: relative;
    display: inline-block;
    min-width: 92px;
    text-align: center;
    padding: 10px 0 10px;
    font-size: 13px;
    margin-left: 87px;
    background: #34599B;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    border-radius: 0 !important;
    border: 0 none !important;
}

#btn-login:before {
    content: '\f090';
    right: 100%;
    width: 60px;
    text-align: center;
    font: 400 17px/40px 'FontAwesome';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#header-tagline{
    text-transform: capitalize;
    font-style: italic;
    position: relative;
    top: -3px;
    color: #DCDCDC;
}

#legalitas{
    list-style-type: circle;
    padding: 0 0 0 20px;
    margin: 0 0 10px 0;
}

#legalitas li{
    list-style-type: circle;
    margin-bottom: 5px;
}

#welcome-msg{
    line-height: 17px;
    text-align: right;
    text-transform: capitalize;
    color: #000;
    padding: 5px 0;
}

#welcome-msg a{
    font-weight: bold;
}