.subscribe-form-wrapper {
  padding-top: 50px;
  text-align: center;
}
.subscribe-form-wrapper span {
  font-size: 30px;
  line-height: 40px;
}
.subscribe-form-wrapper h6 {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 35px 0 45px;
}
@media (max-width: 767px) {
  .subscribe-form-wrapper {
    padding: 35px 0 39px;
  }
}
.sub-form {
  position: relative;
  display: inline-block;
}
.sub-form label {
  display: inline-block;
  position: relative;
  width: 379px;
  outline: none;
  background: #fff;
  box-sizing: border-box;
  text-transform: uppercase;
  height: 60px;
  margin-right: 12px;
}
.sub-form label input {
  display: block;
  background: transparent;
  width: 100%;
  font: 400 15px/60px 'Arial', sans-serif;
  padding-left: 15px;
  color: #464646;
  outline: none;
  border: none;
  overflow: hidden;
  margin: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  height: 100%;
}
@media (max-width: 767px) {
  .sub-form label {
    margin-bottom: 20px;
  }
}
@media (max-width: 479px) {
  .sub-form label {
    width: 100%;
    margin-right: 0;
  }
}
.sub-form .error {
  position: absolute;
  right: 5px;
  font-size: 10px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.sub-form .error {
  top: 0;
}
.sub-form .success {
  position: absolute;
  letter-spacing: normal;
  left: 50%;
  margin-left: -165px;
  bottom: -29px;
}
.sub-form .error {
  color: #fff;
  letter-spacing: normal;
  overflow: hidden;
  height: 0px;
}
.sub-form .success {
  display: none;
  color: #fff;
}
.sub-form label.invalid .error {
  height: 21px;
}
