.tab-content>.tab-pane {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0 none;
}

.dokumen-kelengkapan-list{
}

.dokumen-kelengkapan-list:after{
    content: ",";
}

.dokumen-kelengkapan-list:last-child:after{
    content: "";
}

.info{
    font-size: 95%;
    display: block;
    margin: 5px 0 0 0;
}

/* veritrans */
#checkout-footer{
display: inline-block;
    width: 100%;
    border-top: 1px solid #cacaca;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
}

#checkout-footer #aman{
    display: block;
    float: left;
}

#checkout-footer #veritrans, #checkout-footer #comodo{
    display: block;
    float: right;
    height: 40px;
    margin: 0 0 0 5px;
    width: auto;
}

#checkout-total{
    border: 1px solid #F5AE86;
    border-radius: 5px;
    padding: 20px;
    background-color: #FFF1E9;
}

#checkout-total td{
    font-size: 16px;
    font-weight: bold;
}

#checkout-total td:first-child{
    font-weight: normal;
    padding: 0 20px 5px 0;
}

#checkout-tos{
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}

#checkout-tos p{

}

#checkout-tos a.btn{
    float: right;
    margin: 0 0 0 5px;
}

#checkout-info{
    display: inline-block;
    width: 100%;
    margin: 20px 0 0 0;
}

#checkout-info h3{
    font-size: 15px;
    margin: 0 0 10px 0;
}

#checkout-info ul{
    margin: 0;
    padding: 0 0 0 18px;
    list-style-type: circle;
}

#checkout-info ul li{
    margin: 0 0 5px 0;
}

#checkout-form{
    display: inline-block;
    width: 100%;
    margin: 10px 0 20px 0;
}

#berlaku-hingga select{

}

#checkout-form #form-title{
    font-size: 15px;
    margin: 0 0 10px 0;
}

#checkout-form .form-item{
    padding-left: 0;
    margin: 0 0 7px 0;
}

#checkout-form .form-item .item-element{
    padding-left: 0px;
}

#form-payment.hidden{
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 0;
    height: 0;
}

#metode-pembayaran h3{
    font-size: 15px;
}

#metode-pembayaran .btn{
    margin: 0 0 5px 0;
}

#sisa-waktu-pembayaran {
    display: inline-block;
    width: 100%;
    background-color: #4667A4;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 20px 0;
    text-align: center;
}

#sisa-waktu-pembayaran #sisa-judul{
    display: block;
    font-weight: bold;
    font-size: 15px;
}

#sisa-waktu-pembayaran #sisa-countdown{
    display: block;
    font-size: 27px;
    font-weight: bold;
    margin: 0;
    line-height: 30px;
}
/* /veritrans */