#main-slideshow{
    width: 100%;
    padding-top: 35%;
    z-index: 0;
}

#main-slideshow .contentdiv{
    padding: 0;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

#main-slideshow .contentdiv h2{
    position: absolute;
    padding: 5px 20px;
    bottom: 40px;
    font-size: 40px;
    font-style: normal;
    background-color: #3C8DBC;
    color: #fff;
    margin: 0 0 0 20px;
    text-shadow: 1px 1px 1px #474747;
    text-transform: capitalize;
}

#paginate-main-slideshow{
    display: none;
}

.slider-wrapper{
    position: relative;
}

#slideshow-container{
    position: relative;
    z-index: 1;
}

#slideshow-shadow {
    background-image: url(../img/shadow.png);
    background-repeat: no-repeat;
    height: 38px;
    position: absolute;
    width: 100%;
    left: 0;
}

#footer{
    margin-top: 30px;
}

#front-title{
    color: #4667A4;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 10px 0;
}

#main-content {
    width: 90%;
}

ol, ul{
    padding: 0 0 0 25px;
}

body, html, *{
    font-size: 12px;
    line-height: 20px;
}

.sf-menu > li.active > a{
    color: #4667A4;
}

#welcome-msg.no-login{
    margin: 5px 0;
}

.list-galeri .title{
    text-align: center;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: inline-block;
    width: 100%;
    padding: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
}

.list-galeri{
    width: 200px;
    height: 125px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    border: 4px double #cacaca;
    position: relative;
}

#slideshow-galeri{
    
}

#slideshow-galeri #main-slideshow-galeri{
    width: 95%;
    padding-top: 50%;
    margin-bottom: 10px;
}

#slideshow-galeri #main-slideshow-galeri .contentdiv{
    background-size: contain;
    background-position: center center;
    background-color: #000;
    background-repeat: no-repeat; 
}

#slideshow-galeri #main-slideshow-galeri .contentdiv .keterangan{
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    left: 0;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
}

#slideshow-galeri #main-slideshow-galeri .next,
#slideshow-galeri #main-slideshow-galeri .prev{
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
    top: 50%;
    z-index: 999;
    font-size: 50px;
    border: 1px solid #FFFFFF;
    background-color: #000;
    text-align: center;
    line-height: 47px;
    opacity: 0.5;
}

#slideshow-galeri #main-slideshow-galeri .next:hover,
#slideshow-galeri #main-slideshow-galeri .prev:hover{
    opacity: 0.75;
}

#slideshow-galeri #main-slideshow-galeri .next{
    right: 10px;
}

#slideshow-galeri #main-slideshow-galeri .prev{
    left: 10px;
}

#slideshow-galeri #paginate-main-slideshow-galeri{
    display: block;
    width: 95%;
    margin: 0 auto;
    height: 90px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
}

#slideshow-galeri #paginate-main-slideshow-galeri .toc{
    width: 120px;
    height: 75px;
    display: inline-block;
    margin: 0 2px 0 0;
    opacity: 0.75;
}

#slideshow-galeri #paginate-main-slideshow-galeri .toc.selected{
    opacity: 1;
}

#slideshow-galeri #paginate-main-slideshow-galeri .next,
#slideshow-galeri #paginate-main-slideshow-galeri .prev{
    display: none;
}

.list-blog{
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.list-blog .judul{
    
}

.list-blog .thumbnail{
    display: inline-block;
    width: 100%;
    border: 1px solid #cacaca;
    padding-top: 70%;
    margin: 0;
    border-radius: 0;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    margin: 0 0 10px 0;
}

.list-blog .thumbnail:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/image-not-available.png);
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.list-blog .intro{
    margin: 0 0 5px 0;
}

.list-blog .separator:after{
    content: " ";
    display: block;
    border-bottom: 1px dotted #cacaca;
    padding: 5px 0;
}

body.not-home #main-slideshow .contentdiv h2 {
    display: none;
}

body.not-home .wrapper1 {
    padding: 30px 0 50px 0 !important;
}

body.not-home .slider-wrapper {
    position: absolute;
    width: 100%;
}

body.not-home #main-content{
    position: relative;
    z-index: 1;
    background-color: #fff;
    margin-top: 0;
    min-height: 250px;
    padding-bottom: 50px;
}

#footer{
    background-color: #464646;
    color: #fff;
    padding-top: 35px;
    padding-bottom: 25px;
}

#footer .footer-item{
    text-align: left;
    margin-bottom: 10px;
}

#footer #copyright{
    border-top: 1px dotted #676767;
    margin-top: 10px;
    padding-top: 5px;
    color: #B1B1B1;
}

#footer #item-about{
    
}

#footer #item-about .logo{
    height: 40px;
    display: block;
    margin: 0 0 10px 0;
}

#footer #item-about .sosmed{
    margin: 10px 0 0 0;
}

#footer #item-about .sosmed .fa{
    background-color: #fafafa;
    color: #464646;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    margin: 0 3px;
}

#footer #item-subscribe{
    
}

#footer #item-subscribe form{
    margin: 5px 0 0 0;
}

#footer #item-subscribe form input[type=submit]{
    background-color: #4667A4;
    border: 0 none;
    height: 27px;
}

#footer #item-internal-link{
    
}

#footer #item-internal-link ul,
#footer #item-eksternal-link ul{
    padding: 0;
    margin: 0;
}

#footer #item-internal-link ul li,
#footer #item-eksternal-link ul li{
    list-style-type: none;
}

#footer #item-internal-link ul li a,
#footer #item-eksternal-link ul li a{
    color: #fafafa;
}

.wrapper2 {
    padding: 30px 0 30px !important;
}

#testimonial h3.primary{
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin: 0;
}

#testimonial .stellar2 {
    padding: 30px 0 20px;
}

#slideshow-testimonial{
    margin: 0 auto;
}

#slideshow-testimonial .contentdiv{
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
}

#slideshow-testimonial .contentdiv .judul{
    
}

#slideshow-testimonial .contentdiv .pesan{
    
}

#slideshow-testimonial .contentdiv .author{
    margin: 10px 0 0 0;
    text-transform: uppercase;
}

#front-hubungi-kami{
    
}

#front-hubungi-kami .map{
    width: 100%;
    border: 1px solid #cacaca;
    height: auto;
    padding-top: 60%;
    position: relative;
    margin: 0 0 5px 0;
}

#front-hubungi-kami .map .google-map-api{
    
}

#front-hubungi-kami .addr{
    color: inherit;
    font-size: 17px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 0 3px 0;
}

#front-hubungi-kami table tr td:first-child{
    padding: 0 20px 0 0;
}

#front-hubungi-kami table tr td:nth-child(2){
    padding: 0 5px;
}

#front-hubungi-kami .map .google-map-api .gmap{
    position: absolute;
    width: 100%;
    height: 100%;
}

#front-blog{
    
}

#front-blog .list-blog{
    display: inline-block;
    width: 100%;
}

#front-blog .list-blog .thumbnail{
    
}

#front-blog .list-blog .col-xs-12{
    padding-left: 0;
}

#front-blog .list-blog .judul{
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.icon:hover, #toTop:hover{
    text-decoration: none;
    background: #14428B !important;
    color: #fff !important;
}

.stellar1 h2, .stellar3 h2, .stellar4 h2 {
    color: #ffffff;
    text-shadow: 1px 1px 1px #3E3E3E;
}

h3 + .box, h3 + .row, h3 + .post, h3 + .markered-list {
    margin-top: 30px !important;
}

#blog-konten img{
    margin: 10px;
}

#video-depan{
    position: relative;
    width: 100%;
    padding-top: 58.575%;
    border: 1px solid #cacaca;
}

#video-depan iframe{
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
}

#front-video-intro{
    display: inline-block;
    width: 100%;
    margin: 30px 0 50px 0;
}

nav.header-menu {
    float: none;
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background-color: #FDFDFD;
}

nav.header-menu .container > ul{
    padding: 0;
    margin: 0;
}

nav.header-menu .container > ul > li > a{
    border-right: 1px solid #e8e8e8;
    padding: 7px 10px;
    text-transform: capitalize;
    font-weight: normal;
}

nav.header-menu .container > ul > li:first-child > a{
    border-left: 1px solid #e8e8e8;
}

nav.header-menu .sf-menu ul {
    background: none;
    padding: 0;
}

nav.header-menu .sf-menu ul li{
    list-style-type: none;
    padding: 0;
}

nav.header-menu .sf-menu ul li a{
    background: #FFFFFF;
    color: #474747;
    font-size: 12px;
    text-align: left;
    text-transform: capitalize;
    border: 1px solid #cacaca;
    padding: 7px 10px;
    border-top: 0 none;
}

nav.header-menu .sf-menu ul li + li {
    margin-top: 0;
}

nav.header-menu .sf-menu ul:before{
    display: none;
}

nav.header-menu .container > ul > li > ul{
    top: 44px;
    left: 0px !important;
}

nav.header-menu .sf-menu ul ul {
    top: 0px;
    left: 220px;
}

nav.header-menu .sf-menu li a:hover, nav.header-menu .sf-menu li:hover > a{
    background: #FDFDFD;
    color: #3C8DBC;
}

.sf-menu > li {
    margin: 0;
}

.sf-menu > li > a.sf-with-ul:before{
    display: none;
}

#header .panel{
    height: 35px;
    line-height: 35px;
    background-color: #f8f7f7 !important;
    border-bottom: 1px solid #eae9e9 !important;
}

.header .link {
    margin-top: 0;
}

#header-tagline {
    text-transform: capitalize;
    font-style: normal;
    top: 0;
    color: #807B7B;
}

#logo-menu-container{
    
}

.container {
    width: 95% !important;
    max-width: 1100px;
}

#promo-box{
    position: fixed;
    bottom: -1000px;
    right: -1000px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.65);
    z-index: 99;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 10px #474747;
}

#promo-box .promo-inner{
    display: inline-block;
    width: calc(100% - 10px);
    padding: 10px;
    background-color: #fff;
    margin: 5px;
    border-radius: 5px;
    color: #000;
}

#promo-box .promo-close{
    color: #fff;
    position: absolute;
    top: -5px;
    right: -5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 27px;
    height: 27px;
    text-align: center;
    font-size: 20px;
    background: rgba(39, 74, 136, 0.9);
    line-height: 22px;
}

#promo-box .promo-title{
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #cacaca;
}

#promo-box .promo-intro{
    margin: 0 0 5px 0;
}

#promo-box .promo-thumbnail{
    
}

/* list paket */
#form-pencarian-paket{
    margin: 5px 0 10px 0;
}

.paket-list{
    border: 3px solid #eee;
    margin-bottom: 20px;
}

.paket-list .paket-title{
    text-transform: capitalize;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paket-list .paket-price{
    background: #f6f6f6;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-align: center;
    color: #337AB7;
    font-size: 25px;
    padding: 10px;
}

.paket-list .paket-price small{
    font-size: 18px;
    position: relative;
    top: 4px;
}

.paket-list .paket-description{
    padding: 10px;
    text-align: center;
}

.paket-list .paket-btn-outer{
    background: #f6f6f6;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: 5px 10px;
}

.paket-list .paket-btn-outer .paket-btn{
}

.chosen-container{
    min-width: 120px;
}
/* /list paket */


.list-paket-umrah-outer{
    
}

#subscribe-form input[type=email]{
    color: #000;
}

table#list-paket{
    border: 0 none;
}

table#list-paket .list-item{
    padding-left: 0;
    margin-bottom: 10px;
}

table#list-paket .list-item .list-item-inner{
}

#list-paket_filter, #list-paket_length, table#list-paket thead{
    display: none;
}

#list-paket_info, #list-paket_paginate{
    display: inline-block;
    text-align: center;
    width: 100%;
    float: none;
}

#form-pencarian-paket .form-group{
    display: inline-block;
}

#form-pencarian-paket .form-group label{
    display: block;
}

#output-preview{
    border: 1px solid #cacaca;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
}

#output-preview select, #output-preview input, #output-preview textarea{
    background-color: #fafafa !important;
}

#tab-form-review .nav-tabs{
    border-bottom: 0 none;
}

#tab-form-review .nav-tabs li{
    text-align: center;
}

#box-review-transaksi .nav-tabs li a{
    padding: 10px 35px;
}

#tab-form-review .nav-tabs li a{
    border-radius: 0;
}

.sliderwrapper{
    position: relative;
    overflow: hidden;
    width: 80%;
    min-height: 140px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.sliderwrapper .contentdiv{
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    width: 100%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    text-shadow: 1px 1px 3px #000;
    font-size: 15px;
    font-style: italic;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#paginate-slider1{
    display:none;
}

#page-title-container{
    display: inline-block;
    width: 100%;
    background-image: url(../img/bg-title-container.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#page-title-container h1{
    background: #FFF;
    display: inline-block;
    margin: 40px 0;
    font-size: 30px;
    padding: 8px 20px;
    color: #6D6D6D;
    font-weight: normal;
    position: relative;
}

#page-title-container .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 1200px){
    .container {
        width: 1100px;
    }
}

@media (max-width: 768px){
    .list-blog .thumbnail{
        display: none;
    }
    
    .header-company{
        width: 100%;
    }
    
    .header-company .company_logo{
        float: none;
        margin: 0 auto;
    }
    
    #welcome-msg{
        text-align: center;
    }
    
}

@media (max-width: 640px){
    #main-slideshow .contentdiv h2{
        font-size: 20px;
        bottom: 10px;
    }
    
    .stellar h2, .stellar h3{
        font-size: 20px !important;
        line-height: 30px;
    }
    
    .stellar{
        text-align: center;
    }
}
