@import 'ajax.css';

html{
}

body{
}

/* core styling */
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: #13418A ;
}

::-webkit-scrollbar-track {
    background-color: #13418A ;
}

::-webkit-scrollbar-thumb {
    background-color: #337AB7;
}

#modal-target{
    overflow-x: hidden;
    overflow-y: auto;
}
/* /core styling */

/* admin lte dropdown submenu */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
/* /admin lte dropdown submenu */

/* overriding css */
.glyphicon-sm{
    font-size: 10px;
    top: 0px;
}

.center, th{
    text-align: center;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #E2E2E2 !important;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 8px 15px !important;
    border-bottom: inherit !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 0 none;
    background: #3C8DBC;
}

.dataTables_wrapper{
    margin: 10px 0;
}

.datepicker.dropdown-menu{
    z-index: 9999 !important;
}

.box-header {
    border-bottom: 1px solid #DADADA;
}

.form-group {
    margin-bottom: 5px !important;
}

label {
    text-transform: capitalize;
}

.form-control-static {
    min-height: 0px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-bottom: 0 !important;
}

table{
    margin-bottom: 5px !important;
}

@media (min-width: 768px){
    .modal-dialog {
        width: 675px !important;
    }
}
/* /overriding css */

/* custom style */
.file-field{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.slideshow-thumbnail{
    background-size: cover;
    width: 120px;
    height: 75px;
    display: inline-block;
    background-position: center center;
}

ul.chevron-shapes{
    display: table;
    list-style-type: none;
    width: calc(100% - 15px);
    border: 0 none;
    margin: 0 0 10px 0;
    padding:0;
}

ul.chevron-shapes li{
    display: table-cell !important;
    background: #717171;
    float: none;
    position: relative;
    margin: 0;
    color: #fff;
    height: 30px;
    border-left: 7px solid #fff;
}

ul.chevron-shapes li.active {
    background-color: #337AB7;
}

ul.chevron-shapes li a{
    background: none !important;
    color: inherit !important;
    border: 0 none !important;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    text-align: center;
    display: block;
}

ul.chevron-shapes li:first-child{
    border-left: 0 none;
}

ul.chevron-shapes li:first-child:before {
    display: none;
}

ul.chevron-shapes li:before{
    content: "";
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #FFFFFF;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

ul.chevron-shapes li.active:after {
    border-left: 15px solid #337AB7;
}


ul.chevron-shapes li:after{
    content: "";
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #717171;
    position: absolute;
    right: -15px;
    top: 0;
    z-index: 2;
}

.box-keterangan-scroll {
    max-height: 250px;
    overflow: auto;
    border: 1px solid #cacaca;
    background-color: #fafafa;
    padding: 10px !important;
    text-transform: none;
}

.no-bold{
    font-weight: normal;
}

.red{
    color: red;
}

input.on-off-switch{
    display: inline-block;
    width: 60px;
    height: 15px;
    position: relative;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
}

input.on-off-switch:before{
    content: "off";
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 3px;
    width: 50%;
    height: 100%;
    text-align: left;
}

input.on-off-switch:after{
    content: "on";
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 3px;
    width: 50%;
    height: 100%;
    text-align: right;
}

input.on-off-switch.on:after{
    background: green;
}

input.on-off-switch.on:before{
    background: #B9B9B9;
}

input.on-off-switch.off:after{
    background: #B9B9B9;
}

input.on-off-switch.off:before{
    background: red;
}

.nowrap, th{
    white-space: nowrap;
}
/* /custom style */