{% extends "backend.html" %}
{% block content %}
{% load number_filter %}

<form method="GET" class="form-horizontal form-inline">
    <select name="file" class="form-control">
        {% for item in data_list %}
        <option {% if item == file_selected %}selected{% endif %} value="{{item}}">{{item}}</option>
        {% endfor %}
    </select>
    <input class="btn btn-primary" value="Tampilkan Data" type="submit">
</form>

<hr>

<ul class='nav nav-tabs'>
    {% for cluster_id, data in cluster.items %}
    <li {% if forloop.counter == 1 %}class='active'{% endif %}>
        <a href='#tab-{{forloop.counter}}' data-toggle='tab'>Cluster {{forloop.counter}}</a>
    </li>
    {% endfor %}
    <li>
        <a href='#tab-raw-awal' data-toggle='tab'>Raw Data Awal</a>
    </li>
    <li>
        <a href='#tab-raw-akhir' data-toggle='tab'>Raw Data Akhir</a>
    </li>
    <li>
        <a href='#tab-analisa-cluster' data-toggle='tab'>Analisa Cluster</a>
    </li>
</ul>
<div class='tab-content bottom-margin'>
    {% for cluster_id, data in cluster.items %}
    <div class='tab-pane {% if forloop.counter == 1 %}active{% endif %}' id='tab-{{forloop.counter}}'>
        <table class="table table-bordered table-striped">
            <tr>
                <td class="nowrap">Cluster Baru ID</td>
                <td>{{cluster_id}}</td>
            </tr>
            <tr>
                <td class="nowrap">Centroid Baru</td>
                <td>{{data.centroid}}</td>
            </tr>
            <tr>
                <td class="nowrap">Jumlah Member</td>
                <td>{{data.member|length}}</td>
            </tr>
        </table>

        <hr>

        <table class="table-cluster-result table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Data Awal</th>
                <th>Data Normalisasi</th>
                <th>Cluster Asal ID</th>
            </tr>
            </thead>
            {% for item in data.member %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.origin_data }}</td>
                <td>{{ item.data }}</td>
                <td>{{ item.origin_cluster }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
    <div class='tab-pane' id='tab-raw-awal'>
        <table class="table-cluster-result table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Cluster</th>
            </tr>
            </thead>
            {% for cluster_id, data in cluster.items %}
            {% for item in data.member %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.origin_data }}</td>
                <td>{{ item.origin_cluster }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
    </div>
    <div class='tab-pane' id='tab-raw-akhir'>
        <table class="table-cluster-result table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Cluster</th>
            </tr>
            </thead>
            {% for cluster_id, data in cluster.items %}
            {% for item in data.member %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.data }}</td>
                <td>{{ cluster_id }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
    </div>
    <div class='tab-pane' id='tab-analisa-cluster'>
        <table class="table table-bordered table-striped">
            <tr>
                <td class="nowrap">Variance</td>
                <td>{{a_variance}}</td>
            </tr>
            <tr>
                <td class="nowrap">SSE</td>
                <td></td>
            </tr>
            <tr>
                <td class="nowrap">CPI</td>
                <td></td>
            </tr>
            <tr>
                <td class="nowrap">Erro Ratio</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.table-cluster-result').DataTable({bPaginate: false});
    });
</script>

{% endblock %}