<ul class='nav navbar-nav'>
    <li class='dropdown'>
        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Data Mining <span class="caret"></span>
        </a>
        <ul class='dropdown-menu'>
            <li class='dropdown-submenu'>
                <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
                    Clustering
                </a>
                <ul class='dropdown-menu'>
                    <li>
                        <a href="{% url 'data-mining:clustering-average-linkage' %}">Average Linkage</a>
                    </li>
                    <li>
                        <a href="{% url 'data-mining:clustering-centroid-linkage' %}">Centroid Linkage</a>
                    </li>
                    <li>
                        <a href="{% url 'data-mining:clustering-complete-linkage' %}">Complete Linkage</a>
                    </li>
                    <li>
                        <a href="{% url 'data-mining:clustering-single-linkage' %}">Single Linkage</a>
                    </li>
                    <li>
                        <a href="{% url 'data-mining:clustering-k-means' %}">K-Means</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

