<!DOCTYPE HTML>
<html>
<head>
    <title>{{ title }}</title>

    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='format-detection' content='telephone=no'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load staticfiles %}
    <link rel='icon' href="{% static 'islamo/images/favicon.ico' %}" type='image/x-icon'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'islamo/css/grid.css' %}"/>
    <link rel="stylesheet" href="{% static 'islamo/css/subscribe-form.css' %}"/>
    <link rel="stylesheet" href="{% static 'islamo/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'adminlte/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'plugin/chosen/chosen.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/frontend.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}"/>

    <script src="{% static 'script/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'script/contentslider.js' %}"></script>
    <script src="{% static 'plugin/chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'script/moment.js' %}"></script>
    <script src="{% static 'script/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'script/bootstrap-datetimepicker.min.js' %}"></script>

    <script src="{% static 'script/lib.js' %}"></script>
    <script src="{% static 'script/core.js' %}"></script>
    <script src="{% static 'script/sims.js' %}"></script>
    <script> baseURL = "{% url 'home:index' %}"; </script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <html class='ie8'>
    <div id='ie6-alert' style='width: 100%; text-align:center;'>
        <img src='http://beatie6.frontcube.com/images/ie6.jpg' alt='Upgrade IE 6' width='640' height='344' border='0'
             usemap='#Map' longdesc='http://die6.frontcube.com'/>
        <map name='Map' id='Map'>
            <area shape='rect' coords='496,201,604,329'
                  href='http://www.microsoft.com/windows/internet-explorer/default.aspx' target='_blank'
                  alt='Download Interent Explorer'/>
            <area shape='rect' coords='380,201,488,329' href='http://www.apple.com/safari/download/' target='_blank'
                  alt='Download Apple Safari'/>
            <area shape='rect' coords='268,202,376,330' href='http://www.opera.com/download/' target='_blank'
                  alt='Download Opera'/>
            <area shape='rect' coords='155,202,263,330' href='http://www.mozilla.com/' target='_blank'
                  alt='Download Firefox'/>
            <area shape='rect' coords='35,201,143,329' href='http://www.google.com/chrome' target='_blank'
                  alt='Download Google Chrome'/>
        </map>
    </div>
    <script src="{% static 'islamo/js/html5shiv.js' %}"></script>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'islamo/css/ie.css' %}">
    <![endif]-->
</head>
<body class="{% if home == None %}not-home{% else %}home{% endif %}">
<div class='page'>
    <div id='header' class='header'>
        <div class='panel'>
            <div class='container'>
                <div class='f__left f__none-767 link '>
                    <span id='header-tagline'>Melayani Setulus Hati Menuju Baitullah</span>
                </div>
                <div class='clearfix'></div>
            </div>
        </div>
        <div id='logo-menu-container' class='container'>
            <div class='company header-company'>
                <div class='company_logo'>
                    <a href="{% url 'home:index' %}">
                        <img src="{% static 'img/logo.png' %}" alt=''/>
                    </a>
                </div>
            </div>
            <div class='f__right f__none-767'>
                {% if user.is_authenticated %}
                <div id='welcome-msg'>
                    Selamat datang {{user.instance.nama}}<br>
                    Kunjungi
                    <a href="{% url 'backend:index' %}">Halaman Administrasi</a> atau
                    <a onclick="logout('{% url 'accounts:logout' %}')">Logout</a>
                    <br>
                    <a href="<?= Url::toRoute('site/umrah/registrasi/keranjang-belanja') ?>">Keranjang Belanja (<?= count($keranjangBelanja) ?>)</a>
                </div>
                {% else %}
                <div class='no-login' id='welcome-msg'>
                    Selamat Datang di website InsanIslami.<br>
                    Silahkan
                    <a onclick='loadModal(this)' target="{% url 'accounts:login' %}">login</a> atau
                    <a onclick='loadModal(this)' target='site/user/registrasi/opsi-registrasi'>Registrasi</a>
                </div>
                {% endif %}
            </div>
        </div>
        <nav class='header-menu'>
            <div class='container'>
                <ul class='sf-menu'>
                    <li>
                        <a>Pendaftaran Umrah</a>
                        <ul class='sub-menu'>
                            <li>
                                <a href="{% url 'transaksi-paket-umrah:pilih-paket' %}">Paket Umrah</a>
                            </li>
                            <li>
                                <a>Tiket Pesawat</a>
                                <ul class='sub-menu'>
                                    <li>
                                        <a href="#">Paket Tiket Pesawat</a>
                                    </li>
                                    <li>
                                        <a href="#">Pesan Tiket Pesawat</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Paket Land Arrangement</a>
                            </li>
                            <li>
                                <a href="#">Pesan Hotel</a>
                            </li>
                            <li>
                                <a href="#">Pesan Visa</a>
                            </li>
                            <li>
                                <a href="#">Pesan Perlengkapan</a>
                            </li>
                            <li>
                                <a href="#">Pesan Katering</a>
                            </li>
                            <li>
                                <a href="#">Pesan Handling</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Keagenan</a>
                        <ul style='left: -73px;' class='sub-menu'>
                            <li>
                                <a>Agen</a>
                                <ul class='sub-menu'>
                                    <li><a href="#">Informasi Keagenan</a></li>
                                    <li><a href="#">Daftar Agen</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Perwakilan</a>
                                <ul class='sub-menu'>
                                    <li><a href="#">Informasi Keagenan</a></li>
                                    <li><a href="#">Daftar Perwakilan</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Panduan</a>
                        <ul style='left: -76px;' class='sub-menu'>
                            <li>
                                <a>Registrasi</a>
                                <ul class='sub-menu'>
                                    <li>
                                        <a href="<?= URL::toRoute('site/halaman/index/panduan-pendaftaran-umrah/', true) ?>">Pendaftaran
                                            Umrah</a></li>
                                    <li>
                                        <a href="<?= URL::toRoute('site/halaman/index/panduan-registrasi-keagenan/', true) ?>">Keagenan</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="<?= URL::toRoute('site/halaman/index/panduan-pembayaran-angsuran/', true) ?>">Pembayaran
                                    Angsuran</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Promo</a></li>
                    <li><a href="#">Galeri</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Tentang Kami</a></li>
                </ul>
            </div>
        </nav>
    </div>

    {% if home == None %}
    <div id="page-title-container">
        <div class="overlay"></div>
        <div class="container">
            <h1>{{ title }}</h1>
        </div>
    </div>
    {% endif %}

    <section id='content' class='content'>
        {% if home == None %}
        <div id='main-content' class='container'>
            <div class='wrapper1 wrapper1__inset1'>
                <div class='box col-xs-12'>
                    {% endif %}
                    {% block content %}
                    {% endblock %}
                {% if home %}
                </div>
            </div>
        </div>
        {% endif %}
    </section>

    <footer id='footer' class='footer col-xs-12'>
        <div class='container'>
            <div id='item-about' class='footer-item col-md-3 col-sm-3 col-xs-12'>
                Penyelenggara pemberangkatan perjalanan jamaah umroh dan haji plus yang termudah dan terbesar di
                indonesia yang dijalankan sesuai syariah Islam secara baik, benar, profesional dan bersahaja
                <div class='sosmed'>
                    <a target='_blank' <?= (isset($sosmed['facebook']) && strlen($sosmed['facebook']->nilai) > 0 ? "href='" . $sosmed['facebook']->nilai . "'" : '') ?>
                       class='fa fa-facebook'></a>
                    <a target='_blank' <?= (isset($sosmed['twitter']) && strlen($sosmed['twitter']->nilai) > 0 ? "href='" . $sosmed['twitter']->nilai . "'" : '') ?>
                       class='fa fa-twitter'></a>
                    <a target='_blank' <?= (isset($sosmed['google-plus']) && strlen($sosmed['google-plus']->nilai) > 0 ? "href='" . $sosmed['google-plus']->nilai . "'" : '') ?>
                       class='fa fa-google-plus'></a>
                    <a target='_blank' <?= (isset($sosmed['linkedin']) && strlen($sosmed['linkedin']->nilai) > 0 ? "href='" . $sosmed['linkedin']->nilai . "'" : '') ?>
                       class='fa fa-linkedin'></a>
                    <a target='_blank' <?= (isset($sosmed['instagram']) && strlen($sosmed['instagram']->nilai) > 0 ? "href='" . $sosmed['instagram']->nilai . "'" : '') ?>
                       class='fa fa-instagram'></a>
                </div>
            </div>

            <div id='item-subscribe' class='footer-item col-md-3 col-sm-3 col-xs-12'>
                <h4>Newsletter</h4>
                <span>Dapatkan informasi terbaru dari kami. Daftarkan email anda untuk berlangganan</span>
                <form onsubmit='subscribeEmail(); return false;' id='subscribe-form' class='sub-form'>
                    <input name='email' type='email' required placeholder='Masukkan email anda...'>
                    <input type='submit' value='Berlangganan'>
                    <div>*Kami tidak mengirimkan SPAM</div>
                    <?= Html::hiddenInput(Yii::$app->request->csrfParam, Yii::$app->request->csrfToken) ?>
                </form>
            </div>

            <div id='item-internal-link' class='footer-item col-md-3 col-sm-3 col-xs-12'>
                <h4>Tautan Internal</h4>
                <ul>
                    <li><a href="<?= URL::toRoute('site/halaman/index/tentang-kami/', true) ?>">Tentang Kami</a></li>
                    <li><a href="<?= URL::toRoute('site/halaman/index/metode-pembayaran/', true) ?>">Metode
                            Pembayaran</a></li>
                    <li><a href="<?= URL::toRoute('site/halaman/hubungi-kami/', true) ?>">Hubungi Kami</a></li>
                    <li><a href="<?= URL::toRoute('site/blog/index', true) ?>">Blog</a></li>
                    <li><a href="<?= URL::toRoute('site/halaman/index/syarat-ketentuan/', true) ?>">Syarat dan
                            Ketentuan</a></li>
                    <li><a href="<?= URL::toRoute('site/halaman/index/kebijakan-privasi/', true) ?>">Kebijakan
                            Privasi</a></li>
                    <li><a href="<?= URL::toRoute('site/halaman/index/faq/', true) ?>">FAQ</a></li>
                </ul>
            </div>

            <div id='item-eksternal-link' class='footer-item col-md-3 col-sm-3 col-xs-12'>
                <h4>Tautan Lain</h4>
                <ul>
                    <li><a target='_blank' href="https://lumbungtiket.com/">LumbungTiket.com</a></li>
                    <li><a target='_blank' href="https://raisyastore.com/">RaisyaStore.com</a></li>
                </ul>
            </div>

            <div id='copyright' class='col-xs-12'>Copyright SIMS &copy; 2014 - <?= date('Y') ?></div>
        </div>
    </footer>
</div>

{% csrf_token %}
<script>
    function subscribeEmail(){
        var data = getFormData('subscribe-form');
        ajaxTransfer('site/subscriber/subscribe', data, '#global-temp');
    }
</script>

<script src="{% static 'adminlte/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'script/datatables.min.js' %}"></script>
<script src="{% static 'script/jquery.dataTables.columnFilter.js' %}"></script>
<script src="{% static 'script/jquery.countdown.min.js' %}"></script>
<script src="{% static 'plugin/chosen/chosen.jquery.min.js' %}"></script>
<script src="{% static 'islamo/js/script.js' %}"></script>
<script src="{% static 'islamo/js/jquery.cookie.js' %}"></script>
<script src="{% static 'islamo/js/device.min.js' %}"></script>
<script src="{% static 'islamo/js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'islamo/js/jquery.simplr.smoothscroll.min.js' %}"></script>
<script src="{% static 'islamo/js/tmstickup.js' %}"></script>
<script src="{% static 'islamo/js/stellar/jquery.stellar.js' %}"></script>
<script src="{% static 'islamo/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'islamo/js/jquery.ui.totop.js' %}"></script>
<script src="{% static 'islamo/js/jquery.mobilemenu.js' %}"></script>
<script src="{% static 'islamo/js/superfish.js' %}"></script>
<script src="{% static 'script/accounting.min.js' %}"></script>
<script>
    if(window.onLine){
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-73242446-1', 'auto');
        ga('send', 'pageview');
    }
</script>
</body >
</html>